@mixin button-search-main() {
  background-color: #ed2e7e;
  border-radius: 1rem;
  border: #fff;
  display: flex;
  border: #ed2e7e;
  padding: 10px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@mixin button-search-main-desktop() {
  background-color: #ed2e7e;
  border-radius: 1rem;
  border: #fff;
  display: flex;
  border: #ed2e7e;
  padding: 10px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
