@mixin notifications_card() {
  border: 1px solid;
  border-radius: 1rem;
  font-family: var(--font-family);
  font-weight: 500;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 30px;
  margin-right: 30px;
}

@mixin notification_card_success {
  border-color: #00ba88;
  background-color: #f2fffb;
  margin-top: 70px;
  margin-bottom: 40px;
  font-size: 0.8rem;
}

@mixin notification_card_danger {
  border-color: #ed2e7e;
  background-color: #fff3f8;
}

@mixin notification_text_success {
  color: #00ba88;
  font-size: 0.8rem;
}

@mixin notification_text_danger {
  color: #ed2e7e;
  font-size: 0.8rem;
}
