@use "../mixins/main-search-form";

.main-search-form {
  @include main-search-form.main-search-form;
}

.subtitle {
  font-family: var(--font-family);
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
}

.main-search-form-section {
  display: flex;
  flex-direction: column;
}

.main-search-form__input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 0.5rem;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
}

.button-search-main {
  margin-top: 10px;
  padding: 10px;
}
.input-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.fa-chevron-right {
  position: absolute;
  left: unset;
  right: 40px;
  top: 12px;
}

@media (min-width: 900px) {
  .main-search-form-section {
    display: flex;
    flex-direction: column;
  }
  .button-search-main {
    padding: 10px;
  }

  .main-search-form {
    @include main-search-form.main-search-form-desktop;
  }
  .input-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 22rem;
  }
  .button-search-main {
    margin-top: 0;
    width: 12rem;
    margin-left: 0px;
  }
  .subtitle {
    font-family: var(--font-family);
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 35px;
  }
  .main-search-form__input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 0.5rem;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 30px;
  }
  .main-search-form__input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 0.5rem;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .main-block {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
  }
  .property-direction {
    display: flex;
    flex-direction: column;
  }
  .article-direction {
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: relative;
  }
  .destination-form-box {
    background-color: #2a00a2;
    margin-right: 0;
    margin-left: 30px;
    border-radius: 1rem;
    padding-top: 10px;
    padding-bottom: 15px;
  }
  .main-block .search-destination-form {
    margin-bottom: 50px;
    margin-right: -30px;
    margin-top: 0;
  }
}
