@use "../mixins/notifications";

.notification {
  @include notifications.notifications_card;
}
.notification__success {
  @include notifications.notification_card_success;
}

.notification__danger {
  @include notifications.notification_card_danger;
}

.notification__text-success {
  @include notifications.notification_text_success;
}

.notification__text-danger {
  @include notifications.notification_text_danger;
}

.notification-section {
  margin-top: -25px;
}

.fa-thumbs-up {
  position: absolute;
  right: unset;
  left: 12px;
  top: 20px;
}

.fa-circle-info {
  position: absolute;
  right: unset;
  left: 12px;
  top: 20px;
}

.fa-xmark {
  font-size: 1rem;
}
.x-button-1 {
  position: absolute;
  left: unset;
  right: 10px;
  top: 35px;
}

.x-button-2 {
  position: absolute;
  left: unset;
  right: 10px;
  top: 50px;
}
