.button-to-notifications {
  position: relative;
}

.button-to-notifications button {
  top: -31px;
  border: none;
  background-color: white;
}

.button-box {
  display: flex;
  justify-content: center;
}
