.properties-found {
  margin-top: 50px;
}

.properties-found__title {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 24px;
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 50px;
}

.fa-star {
  border-color: #ed2e7e;
}

.properties-found__article {
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #dfdfdf;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.properties-found__article--2nd {
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #dfdfdf;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.properties-found__article--2nd img {
  display: block;
}

.properties-found__article__heading {
  font-family: "Poppins";
  color: #5f2eea;
}

.properties-found__article--2nd p {
  font-family: "Poppins";
  text-align: left;
  color: #4e4b66;
  font-size: 0.9rem;
  margin-top: -0.1px;
}

.properties-found__article--2nd span {
  font-family: "Poppins";
  color: #5f2eea;
}

.properties-found__article__stars {
  margin-top: 20px;
}

.properties-found__article img {
  display: block;
}

.properties-found__article__heading {
  font-family: "Poppins";
  color: #5f2eea;
  margin-bottom: 0;
}

.properties-found__article p {
  font-family: "Poppins";
  text-align: left;
  color: #4e4b66;
  font-size: 0.9rem;
  margin-top: -0.1px;
}

.properties-found__article span {
  font-family: "Poppins";
  color: #5f2eea;
}

.properties-found__article__stars {
  margin-top: 20px;
}

.fa-star {
  color: #ed2e7e;
  font-size: 1.2rem;
}

.fa-location-dot {
  color: #5f2eea;
}

.properties-found-button {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  font-weight: 600;
  padding-bottom: 5px;
  background-color: white;
  border-color: #5f2eea;
  border-radius: 2rem;
  color: #5f2eea;
  font-family: "Poppins";
}
