.search-destination-form {
  margin-top: 50px;
  margin-bottom: 50px;
}

.destination-form-box {
  background-color: #2a00a2;
  margin-right: 30px;
  margin-left: 30px;
  border-radius: 1rem;
  padding-top: 10px;
  padding-bottom: 15px;
}

.destination-search-form label {
  font-family: "Poppins";
  color: #ffff;
  font-size: 0.8rem;
  margin-left: 30px;
  margin-right: 30px;
}

.destination-search-form__subtitle {
  color: #bca4ff;
  font-family: "Poppins";
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 15px;
  margin-bottom: 15px;
}

.button-destination-form {
  padding: 10px;
  margin-left: 30px;
  margin-right: 30px;
  background-color: #ed2e7e;
  border-radius: 1rem;
  margin-bottom: 10px;
  border: none;
  margin-top: 10px;
}

.destination-search-form {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}

.input-container-second-form {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input-container-second-form ::placeholder {
  padding-left: 25px;
}

.fa-magnifying-glass {
  position: absolute;
  right: unset;
  left: 40px;
  top: 32px;
}

.fa-calendar-days {
  position: absolute;
  right: unset;
  left: 40px;
  top: 30px;
}

.fa-person {
  position: absolute;
  right: unset;
  left: 42px;
  top: 30px;
}
